*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-box1{
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 10px;
    border: 2px solid;
    padding: 20px;
    border-radius: 10px;
}

.main-box2{
    width: fit-content;
    
    border: 2px solid;
    margin: auto;
    text-align: center;
    padding: 5px ;
    border-radius: 10px;
    

}

.circle{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 30px;
    border: 2px solid;
    border-radius: 50%;
    overflow: hidden;
}
.table{
    width: 200px;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-top: 25px;
    
}