*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green-box{
    width: 1000px;
    height: 600px;
    background-color: green;
    margin: 50px;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-box{
    width: 250px;
    height: 250px;
    background-color: red;
    border-radius: 50%;
}