* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 350px;
    height: 500px;
    border: 2px solid;
    margin: 80px auto;
    border-radius: 15px;
    padding: 5px;
}

.card-title{
    border: 2px solid;
    width: fit-content;
    margin: auto;
    padding: 8px 15px;
    border-radius: 25px;
    background-image:linear-gradient(to right,rgb(70, 26, 26));
    color: rgb(18, 70, 116);

}
p{
    text-align: justify;
}